<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 
  
<system.webServer>
  <defaultDocument>
    <files>
      <clear />
      <add value="C:\Areas\Identity\Pages\Account\Login.cshtml" />
    </files>
  </defaultDocument>
</system.webServer>
  

</configuration>